<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
                    "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
  <script>
    $(document).ready(function () {

                var Quote = Backbone.Model.extend({});

                var Quotes = Backbone.Collection.extend({
                    model: Quote,
                    url: 'https://gist.githubusercontent.com/anonymous/8f61a8733ed7fa41c4ea/raw/1e90fd2741bb6310582e3822f59927eb535f6c73/quotes.json'
                });

                 var QuoteView = Backbone.View.extend({
                    el: "#quotes",
                    template: _.template($('#quoteTemplate').html()),
                    render: function(eventName) {
                        _.each(this.model.models, function(quote){
                            var quoteTemplate = this.template(quote.toJSON());
                            $(this.el).append(quoteTemplate);
                        }, this);
                        return this;
                    }
                });

                var quotes = new Quotes();

                var quoteView = new QuoteView({model: quotes});

                quotes.fetch({
                  success: function(){
                    quoteView.render();
                  }
                });
    });

  </script>
</head>
<body>

  <div id="quotes"></div>


  <script id="quoteTemplate" type="text/template">
            <div class="quote-wrapper">
                <div class="info">
                    <div class="quote">
                        "<%= quote %>"
                    </div>
                    <br>
                    <div class="context">
                        -<%= source %>, <%= context %>
                    </div>

                    <div class="theme">
                        #<%= theme %>
                    </div>
                </div>
            </div>
  </script>

</body>
</html>