body{
  background-color: #FFFF9D;
  color: #2C3E50;
  font-family: 'Tahoma', 'sans-serif';
}

#quotes{
  width:60%;
  margin: 50px auto;
}

.quote-wrapper{
  width: 95%;
  margin: 10px auto;
  padding:15px 5px 15px 5px;
  background: #79BD8F;
  box-shadow: 2px 2px #BEEB9F;
  border-radius:4px;
  font-style:italic;
}

.info{
  overflow:auto;
}


.theme{
  display: block-inline;
  float:right;
  margin-right:10px;
  font-weight:bold;
}

@media (max-width:800px){
  #quotes{
    width:90%;
  }
}