* {
  margin:0;
  padding:0;
}

body {
  font-family:'Tahoma', sans-serif;
  color: #666;
  font-size:16px;
  background:#f9f9f9;
  line-height:1.6em;
}

#container{
  width: 75%;
  margin: 50px auto;
  overflow: auto;
  border:1px solid #ddd;
}

h1{
  text-align: center;
  margin-bottom: 20px;
}

#title{
  height:40px;
  background:#00A388;
  color:#fff;
  text-align:center;
  padding-top:13px;
  font-size:135%;
}

.header{
  background:#eee;
  font-weight:bold;
  font-size:125%;
  border-bottom:1px solid #ddd;
  cursor:pointer;
  text-align:center;
}


.info{
  background:#ddd;
}

@media (max-width:800px){
  #container{
    width:90%;
  }
}